mixin faqSection(items)
  section.faq
    .faq__inner.container
      h2.faq__title Популярные вопросы
      .faq__list
        each item, index in items
          .accordion.faq__item
            button.accordion__up.faq__button(type="button" class=index === 2 ? 'is-active' : '')
              span.accordion__caption.faq__question= item.question
              span.accordion__icon.faq__icon
                img(src="img/svg/arrow-down.svg" alt="Развернуть")
            .accordion__dropdown.faq__dropdown(class=index === 2 ? 'is-active' : '')
              .accordion__content.faq__answer
                if Array.isArray(item.answer)
                  each paragraph in item.answer
                    p= paragraph
                else
                  p= item.answer
